#flickr-param {
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 5px;
}
#check_checkbox {
    margin: 10px 0 15px 5px;
}
#channel-options {
    margin: 8px;
}
.channel-ui a {
    text-decoration: none;
    font-weight: bold;
    margin-right: 20px;
}
.channel-photos {
    display: none;
    overflow: auto;
    white-space: nowrap;
    margin-bottom: 1em;
}
.channel-photos img {
    padding: 2px;
    margin-right: 20px;
    border: 1px solid gray;
}
.channel-name {
    margin-right: 10px
}

.a-item {
    padding: 5px;
    margin: 5px;
    background-color: darkblue;
    color: white;
}

.a-date {
padding:5px;display:inline;background-color: white; color: #353232;margin-right:15px;
}

.s-item {
float:right; color: lightgrey; font-style: italic; font-size:10px;
}
